{{ define "styles" }}
  {{- with resources.Get "css/journal.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{- end }}
{{ end }}
{{ define "main" }}
  <main class="journal list">
    <header>
      Journal
    </header>
    {{ range sort .Pages "Date" "desc" }}
      <a class="entry-row" href="{{ .RelPermalink }}">
        <div class="entry-title">
          {{ .LinkTitle }}
        </div>
        {{ with .Resources.Get .Params.Thumbnail }}
            <img class="entry-thumbnail" src="{{ .RelPermalink }}">
        {{ end }}
      </a>
    {{ end }}
  </main>
{{ end }}
