body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;
}
header.intro {
  margin: 0 12px 4px 12px;
  background-color: #fff;
  color: #000;
  display: flow-root; /* prevent margin collapse */
}
header.intro p {
  margin: 8px 12px 8px 12px;
}
strong {
  font-weight: 500;
}